/* ========================= */
/* SEARCH PAGE */
/* ========================= */

.search-page {
  padding: 40px;
  color: white;
}

/* apenas ajustes visuais */
.search-header {
  margin-bottom: 30px;
}

#searchQuery {
  color: #bdb2ff;
  margin-top: 6px;
}

/* garante espaçamento dos resultados */
#results {
  margin-top: 20px;
}
